nav.navbar {
	margin-bottom: 0;
	display: flex;
}

a.navbar-brand {
	font-size: 23px;
	font-family: "News Cycle","Arial Narrow Bold",sans-serif;
	color: white;
}

h4.postPet {
	font-family: "News Cycle","Arial Narrow Bold",sans-serif;
	color: white;
	padding-top: -1;
	color: white;
	background-color: #eb6864;
	margin-top: -4.5px;
	font-size: 23px;
}




.adoptionPgSelect {
	height: 38px;
}

button.submitBtn.btn.btn-lg.btn-default {	
	color: white;
	background-color: #eb6864;
	border-color: #eb6864;
}

button.submitBtn {
	color: white;
	background-color: #eb6864;
	border-color: #eb6864;
}

.linkage {	
	color: white;
	background-color: #eb6864;
}

h2 {
	display: flex;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.header{
    margin-top: 0px !important;
	margin-bottom: 0px !important;
}

a.title{
	margin-left: auto !important;
	margin-right: auto !important;
	display: flex;
	align-items: center;
}


.navbar-right {
	position: absolute;
	right: 15px;
	z-index:4;
}